Repository dmcass/staples: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Initial eslint configs
  .eslintrc
  .prettierrc
  package.json
  packages/eslint-configs/.npmrc
  packages/eslint-configs/configs/base/formatting.js
  packages/eslint-configs/configs/base/index.js
  packages/eslint-configs/configs/base/problems.js
  packages/eslint-configs/configs/base/suggestions.js
  packages/eslint-configs/configs/eslint-comments.js
  packages/eslint-configs/configs/import.js
  packages/eslint-configs/configs/promise.js
  packages/eslint-configs/configs/rnx-kit.js
  packages/eslint-configs/index.js
  packages/eslint-configs/package.json
Due: eslint --fix, prettier --write

Add unicorn rules
  packages/eslint-configs/configs/base/formatting.js
  packages/eslint-configs/configs/base/problems.js
  packages/eslint-configs/configs/base/suggestions.js
  packages/eslint-configs/configs/unicorn.js
Due: eslint --fix, prettier --write

Add react rules
  packages/eslint-configs/configs/react.js
  packages/eslint-configs/package.json
Due: eslint --fix, prettier --write

Add jsx-a11y rules
  packages/eslint-configs/configs/jsx-a11y.js
  packages/eslint-configs/package.json
Due: eslint --fix, prettier --write

Add jest rules
  packages/eslint-configs/configs/jest.js
  packages/eslint-configs/package.json
Due: eslint --fix, prettier --write

Add react-hooks rules
  packages/eslint-configs/configs/react-hooks.js
  packages/eslint-configs/package.json
Due: eslint --fix, prettier --write

Add vitest rules
  packages/eslint-configs/configs/vitest.js
  packages/eslint-configs/package.json
Due: eslint --fix, prettier --write

Add react-native rules
  packages/eslint-configs/configs/react-native.js
  packages/eslint-configs/package.json
Due: eslint --fix, prettier --write

Add node rules
  packages/eslint-configs/configs/node.js
  packages/eslint-configs/package.json
Due: eslint --fix, prettier --write

Move no-duplicate-imports conflict; disable unicorn/no-unsafe-regex
  packages/eslint-configs/configs/base/problems.js
  packages/eslint-configs/configs/import.js
  packages/eslint-configs/configs/unicorn.js
Due: eslint --fix, prettier --write

Add typescript rules
  packages/eslint-configs/configs/react.js
  packages/eslint-configs/configs/typescript.js
Due: eslint --fix, prettier --write

Add typescript settings to config
  packages/eslint-configs/configs/typescript.js
Due: eslint --fix, prettier --write

Add regexp rules
  packages/eslint-configs/configs/regexp.js
  packages/eslint-configs/configs/unicorn.js
  packages/eslint-configs/package.json
Due: eslint --fix, prettier --write

Start README for eslint configs
  packages/eslint-configs/README.md
Due: prettier --write

Add react settings
  packages/eslint-configs/configs/react.js
Due: eslint --fix, prettier --write

Turn off all formatting rules
  packages/eslint-configs/README.md
  packages/eslint-configs/configs/base/formatting.js
  packages/eslint-configs/configs/base/problems.js
  packages/eslint-configs/configs/base/suggestions.js
  packages/eslint-configs/configs/react.js
  packages/eslint-configs/configs/typescript.js
  packages/eslint-configs/configs/unicorn.js
Due: eslint --fix, prettier --write

Fix eslint-config directory name
  .npmrc
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/configs/base/formatting.js
  packages/eslint-config/configs/base/index.js
  packages/eslint-config/configs/base/problems.js
  packages/eslint-config/configs/base/suggestions.js
  packages/eslint-config/configs/eslint-comments.js
  packages/eslint-config/configs/import.js
  packages/eslint-config/configs/jest.js
  packages/eslint-config/configs/jsx-a11y.js
  packages/eslint-config/configs/node.js
  packages/eslint-config/configs/promise.js
  packages/eslint-config/configs/react-hooks.js
  packages/eslint-config/configs/react-native.js
  packages/eslint-config/configs/react.js
  packages/eslint-config/configs/regexp.js
  packages/eslint-config/configs/rnx-kit.js
  packages/eslint-config/configs/typescript.js
  packages/eslint-config/configs/unicorn.js
  packages/eslint-config/configs/vitest.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-configs/.npmrc
Due: eslint --fix, prettier --write

Create prettier-config package
  package.json
  packages/prettier-config/README.md
  packages/prettier-config/index.json
  packages/prettier-config/package.json
Due: prettier --write

Add initial testing-library rules
  packages/eslint-config/configs/testing-library.js
  packages/eslint-config/package.json
Due: eslint --fix, prettier --write

Use workspaces, add rushstack patch
  package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
Due: eslint --fix, prettier --write

Update import rules; Create node preset
  .eslintrc
  .tool-versions
  package.json
  packages/eslint-config/configs/base/index.js
  packages/eslint-config/configs/base/suggestions.js
  packages/eslint-config/configs/import.js
  packages/eslint-config/configs/typescript.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/presets/node.js
Due: eslint --fix, prettier --write

Update eslint-plugin-n to v16.0.0
  packages/eslint-config/package.json
Due: prettier --write

Configure dependabot, fix some deps
  .github/dependabot.yml
  package-lock.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
Due: prettier --write

Fix react-native rules
  packages/eslint-config/configs/react-native.js
Due: eslint --fix, prettier --write

Add test overrides and react-native preset
  packages/eslint-config/configs/overrides/tests.js
  packages/eslint-config/configs/overrides/typescript-tests.js
  packages/eslint-config/package.json
  packages/eslint-config/presets/react-native.js
Due: eslint --fix, prettier --write

Bump eslint config to v0.1.0
  package.json
  packages/eslint-config/package.json
Due: prettier --write

Distribute env definitions, add rules for electron
  package.json
  packages/eslint-config/configs/base/index.js
  packages/eslint-config/configs/electron.js
  packages/eslint-config/configs/jest.js
  packages/eslint-config/configs/node.js
  packages/eslint-config/configs/react-native.js
  packages/eslint-config/configs/react.js
  packages/eslint-config/configs/typescript.js
  packages/eslint-config/configs/vitest.js
  packages/eslint-config/package.json
  packages/eslint-config/presets/electron.js
  packages/eslint-config/presets/react-native.js
Due: eslint --fix, prettier --write

Add experimental warning to readme
  packages/eslint-config/README.md
Due: prettier --write

Add experimental warning to repository readme
  README.md
Due: prettier --write

Create CNAME
  docs/CNAME
Due: none

Create docs/index.md
  docs/index.md
Due: prettier --write

Bump dependencies and package versions
  package-lock.json
  package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
Due: prettier --write

Bump all outdated deps; remove deprecated `unicorn/no-unsafe-regex` rule
  package-lock.json
  packages/eslint-config/configs/unicorn.js
  packages/eslint-config/package.json
Due: eslint --fix, prettier --write

Bump outdated deps for all packages; Bump versions
  package-lock.json
  package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
Due: prettier --write

Bump prettier-config version number
  packages/prettier-config/package.json
Due: prettier --write

Bulk dependency upgrade; add changelogs
  CHANGELOG.md
  package-lock.json
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/configs/testing-library.js
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{css,graphql,html,json,less,markdown,md,mdx,scss,vue,yaml,yml})) or (any of: .huskyrc,.lintstagedrc,.prettierrc)
